<div id="create_main_wrapper">
	<div id="create_content_wrapper">
		<div id="create_content_top">
			<div id="create_title">
				Create group
			</div>
			<div id="creategroup_pin"></div>
		</div>
		<%= render 'form' %>
	</div>
</div>
