<ul>
	<li>
		<label>Professional Experience & Goals:</label>
		<%= text_area :user_profile, :summary %>
	</li>
	<li>
		<label>Specialties</label>
		<%= text_area :user_profile, :specialties %>
	</li>
</ul>