<h2>Basic Information</h2>
<div class="form">
<%= form_for @user_profile, :url => '/user_profiles/create_profile_basic', :html => {:method => :post} do |f| %>
  	<%= render 'form_profile_basic' %>
  	<%= f.submit "Create My Profile" %>
<% end %>
</div>

