<!--importcontent_main_wrapper-->
<div id="importcontent_main_wrapper">
	<div id="import_wrapper_top"></div>
	<!--import_content-->
	<div id="import_content">
		<div id="import_logo"></div>
		<div id="import_content_title">
			Get started by adding your email address
		</div>
		<%= form_for @user_profile, :url => "/user_profiles/show_bconnected_contacts/"+@user_profile.user_id.to_s, :html => {:method => :post, :id => "frmEmail"} do |f| %>
		<div id="import_text">
			<%= f.text_field :email_assoc,  :id => "txt_important" %>
		</div>
		<div id="import_text">
			<%= password_field :email, :password, :style => "padding: 3px; border: 1px solid #ddd;" %>
		</div>
		<div id="import_button">
			<%= f.submit "Continue", :id=>"bttn_Continue" %>
		</div>
		<div id="import_msgbox">
			<div id="import_msgbox_img"></div><h6>Your contacts are safe with us! </h6>
			<div id="import_msgbox_content">
				We'll import your address book to suggest             connections and help you manage your contacts.And we won't store your password             or email anyone without your permission.<a href="#">Learn More</a>
			</div>
			<div id="import_msgbox_learn"></div>
		</div>
		<% end %>
	</div>
	<!--import_content ends-->
	<div id="import_bottom"></div>
</div>
<!--importcontent_main_wrapper ends-->


