<!--top_wrapper-->
<!--main_content_wrapper-->
<div id="main_content_wrapper">
	<!--following_top_wrapper-->
	<div id="following_top_wrapper">
		<h2>Get Updates from thought leaders- right on your homepage.</h2>
		<form action="" method="post" name="frmFollow" id="frmFollow">
			<input type="submit" name="bttnFollow" id="bttnFollow" value="Follow All" />
		</form>
	</div>
	<!--following_top_wrapper ends-->
	<!--following_slider_wrapper-->
	<div id="following_slider_wrapper">
		<!--slider_box1-->
		<div class="slider_box active">
			<div class="slider_box_left"><img src="/assets/slider/james.jpg" border="0"  />
			</div>
			<!--slider_box_right-->
			<div class="slider_box_right">
				<!--slider_box_right_left-->
				<div class="slider_box_right_left">
					<div class="slider_box_right_name">
						James Caan
					</div>
					<div class="slider_box_right_designation">
						CEO of Hamilton Bradshaw
					</div>
					<!--slider_box_right_message-->
					<div class="slider_box_right_message">
						<div class="slider_box_right_message_title">
							Wish you a Happy X'mas
						</div>
						<p>
							"I just wanted to wish all my followers and everyone on
							Go global a very happy Christmas 2012. It's been an
							exciting year...
							"Dec 21, 2012
						</p>
					</div>
					<!--slider_box_right_message ends-->
				</div>
				<!--slider_box_right_left ends-->
				<!--slider_box_right_right-->
				<div class="slider_box_right_right">
					<div class="follow_count">
						45,890
					</div>
					<div class="follow_head">
						Followers
					</div>
				</div>
				<!--slider_box_right_right ends-->
			</div>
			<!--slider_box_right ends-->
			<div class="clear"></div>
		</div>
		<!--slider_box1 ends-->
		<!--slider_box2-->
		<div class="slider_box active">
			<div class="slider_box_left"><img src="/assets/slider/gretchen.jpg" border="0"  />
			</div>
			<!--slider_box_right-->
			<div class="slider_box_right">
				<!--slider_box_right_left-->
				<div class="slider_box_right_left">
					<div class="slider_box_right_name">
						Gretchen Rubin
					</div>
					<div class="slider_box_right_designation">
						CEO of Hamilton Bradshaw
					</div>
					<!--slider_box_right_message-->
					<div class="slider_box_right_message">
						<div class="slider_box_right_message_title">
							Wish you a Happy X'mas
						</div>
						<p>
							"I just wanted to wish all my followers and everyone on
							Go global a very happy Christmas 2012. It's been an
							exciting year...
							"Dec 21, 2012
						</p>
					</div>
					<!--slider_box_right_message ends-->
				</div>
				<!--slider_box_right_left ends-->
				<!--slider_box_right_right-->
				<div class="slider_box_right_right">
					<div class="follow_count">
						45,890
					</div>
					<div class="follow_head">
						Followers
					</div>
				</div>
				<!--slider_box_right_right ends-->
			</div>
			<!--slider_box_right ends-->
			<div class="clear"></div>
		</div>
		<!--slider_box2 ends-->
		<!--slider_box1-->
		<div class="slider_box active">
			<div class="slider_box_left"><img src="/assets/slider/mulla.jpg" border="0"  />
			</div>
			<!--slider_box_right-->
			<div class="slider_box_right">
				<!--slider_box_right_left-->
				<div class="slider_box_right_left">
					<div class="slider_box_right_name">
						Ahmed Al Mulla
					</div>
					<div class="slider_box_right_designation">
						CEO of HB
					</div>
					<!--slider_box_right_message-->
					<div class="slider_box_right_message">
						<div class="slider_box_right_message_title">
							Wish you a Happy X'mas
						</div>
						<p>
							"I just wanted to wish all my followers and everyone on
							Go global a very happy Christmas 2012. It's been an
							exciting year...
							"Dec 21, 2012
						</p>
					</div>
					<!--slider_box_right_message ends-->
				</div>
				<!--slider_box_right_left ends-->
				<!--slider_box_right_right-->
				<div class="slider_box_right_right">
					<div class="follow_count">
						45,890
					</div>
					<div class="follow_head">
						Followers
					</div>
				</div>
				<!--slider_box_right_right ends-->
			</div>
			<!--slider_box_right ends-->
			<div class="clear"></div>
		</div>
		<!--slider_box3 ends-->
	</div>
	<!--following_slider_wrapper ends-->
	<!--following_wrapper_member-->
	<ul id="following_wrapper_member">
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky1"> <img src="/assets/mostfollowed/deepak.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky1">Deepak Chopra</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky1">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky2"> <img src="/assets/mostfollowed/regina.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky2">Regina Hopper</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky2">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky3"> <img src="/assets/mostfollowed/james.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky3">James Caan</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky3">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky4"> <img src="/assets/mostfollowed/david.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky4">David Edelmen</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky4">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky5"> <img src="/assets/mostfollowed/gretchen.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky5">Gretchen Rubin</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky5">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky6"> <img src="/assets/mostfollowed/mark.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky6">Mark Graban</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky6">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);" class="following">Following</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky7"> <img src="/assets/mostfollowed/ahmed.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky7">Ahmed Mulla</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky7">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);" class="following">Following</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky8"> <img src="/assets/mostfollowed/obama.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky8">Barak Obama</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky8">US President</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);" class="following">Following</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky9"> <img src="/assets/mostfollowed/ariana.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky9">Ariana Huffington</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky9">US President</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);" class="following">Following</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky10"> <img src="/assets/mostfollowed/deepak.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky10">Deepak Chopra</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky10">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky11"> <img src="/assets/mostfollowed/regina.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky11">Regina Hopper</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky11">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<!--box1-->
		<li>
			<div class="member_img">
				<a href="#" data-tooltip="sticky12"> <img src="/assets/mostfollowed/james.jpg" /></a>
			</div>
			<div class="member_name" >
				<a href="#" data-tooltip="sticky12">James Caan</a>
			</div>
			<div class="member_designation">
				<a href="#" data-tooltip="sticky12">C.E.O of HP</a>
			</div>
			<div class="member_followers">
				85,9990 Followers
			</div>
			<div class="bttn_follow">
				<a href="javascript:void(0);">Follow</a>
			</div>
		</li>
		<!--box1-->
		<div class="clear"></div>
	</ul>
	<!--following_wrapper_member ends-->
	<!--pagination_wrapper-->
	<div id="pagination_wrapper">
		<div class="show_more" id="loading">
			Wait a moment... it's loading!
		</div>
		<div class="show_end" id="nomoreresults">
			Sorry, no more results
		</div>
	</div>
	<!--pagination_wrapper ends-->
</div>
<!--main_content_wrapper ends-->
<!--tooltiphidden-->
<div id="mystickytooltip" class="stickytooltip">
	<div style="padding:5px">
		<div id="sticky1" class="atip" >
			<div class="tooltip_image"><img src="/assets/followers/deepak.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Deepak Chopra
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky2" class="atip">
			<div class="tooltip_image"><img src="/assets/followers/regina.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Regina Hopper
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky3" class="atip">
			<div class="tooltip_image"><img src="/assets/followers/james.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					James Caan
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky4" class="atip">
			<div class="tooltip_image"><img src="/assets/followers/david.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					David Edelmen
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky5" class="atip">
			<div class="tooltip_image"><img src="/assets/followers/gretchen.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Gretchen Rubin
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky6" class="atip">
			<div class="tooltip_image"><img src="/assets/followers/mark.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Mark Graban
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky7" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/ahmed.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Ahmed Mulla
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky8" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/obama.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Barak Obama
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky9" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/ariana.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Ariana Huffington
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky10" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/deepak.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Deepak Chopra
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky11" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/regina.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					Regina Hopper
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sticky12" class="atip">
			<div class="tooltip_image"><img src="/assets/mostfollowed/james.jpg" />
			</div>
			<div class="tooltip_content">
				<div class="tooltip_content_name">
					James Caan
				</div>
				<div class="tooltip_content_designation">
					CEO of HB
				</div>
				<div class="tooltip_content_message">
					<div class="tooltip_content_message_title">
						Wish you a Happy X'mas
					</div>
					<p>
						"I just wanted to wish all my followers and everyone on
						Go global a very happy Christmas 2012. It's been an
						exciting year...
						"Dec 21, 2012
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="stickystatus"></div>
</div>