<%= div_for(@user_profile) do %>
	 <%= @user_profile.user.first_name %>&nbsp;<%= @user_profile.user.last_name %>
	 <% if user_signed_in? %>
			<span id="connect_link"><%= link_to "Connect", "" %></span>
	 <% end %>
<% end %>
