<div id="profile_box">
	<div id="photo">
		<%= image_tag @user_profile.picture.url(:thumb) %>
	</div>
	<div class="profile_right_section"></div>
</div>
<div id="contact_box" class="small_section">
	<div class="left_section"></div>
	<div class="right_section"></div>
</div>
<div id="summary_box" class="section">
	
</div>
<div id="experience_box" class="section">
	
</div>
<div id="languages_box"></div>
<div id="skills_box"></div>
<div id="qualification_box"></div>
<div id="additional_info_box"></div>
