// Place all the styles related to the user_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
	align: center;
	width: 100%;
}
.label {
	text-align: right;
	float: left;
	width: 27%;
	padding-right: 30px;
	font-weight: bold;
}
.field {
	text-align: left;
	float: left;
	width: 68%;
}
.section {
  padding: 2% 0 2% 0;
}
.profile_right_section {
  float: left;
  width: 60%;
  
}
.half_section {
  float: left;
  width: 50%;
}
.small_section {
  width: 50%;
}
#contact_box {
  border: 1px solid #dddddd
}
#photo {
  float: left;
  width: 15%;
}
#profile_box {
  border-bottom: 1px solid #cccccc;
  width: 60%;
  padding: 2%;
}
.section_head {
  width: 60%;
  float: left;
  border-bottom: 1px solid #cccccc;
}
span.right {
  float: right;
}
