@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('fonts/AvantGardeMd/avgardm.eot');
    src: url('fonts/AvantGardeMd/avgardm.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvantGardeMd/avgardm.woff') format('woff'),
         url('fonts/AvantGardeMd/avgardm.ttf') format('truetype'),
         url('fonts/AvantGardeMd/avgardm.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;}
*{
	padding:0;
	margin:0;
	}
body{
	font-size:14px;
	 font-family: 'avantgarde_md_btmedium';
	 background:#efefef;
	 letter-spacing:1px;
	}	
#top_wrapper{
	height:122px;
	}
#top_wrapper_top{
	height:76px;
	background:#0a1802;
	min-width:997px;
	}	
#top_wrapper_top_inner{
	width:997px;
	height:76px;
	margin:0 auto;
	background:url(images/topshadow.png) no-repeat center center;
	}	
#logo_wrapper{
	float:left;
	height:76px;
	width:270px;
	}	
#logo_wrapper a{
	background:url(images/logo.png) no-repeat;
	height:76px;
	width:270px;
	text-indent:-9999px;
	display:block;
	}
	
 #message_icon_wrapper{
	 float:right;
	 width:85px;
	 margin-top:39px;
	 }

.message_icon{
	background:url(images/msg.png) 0 -2px no-repeat;
	width:33px;
	height:33px;
	float:left;
	position:relative;
	z-index:150;
	} 
.message_icon:hover{
	background:url(images/msg.png) 0 -44px no-repeat;
	}	
.count_msg {
    background:#6699CC;
    color: #fff;
    font-size: 12px;
    left: 4px;
    padding:2px 4px 3px 2px;
    position: absolute;
    text-decoration: none;
    top:-14px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.notification_icon{
	background:url(images/notification.png) 0 -2px no-repeat;
	width:33px;
	height:32px;
	float:left;
	margin-left:4px;
	position:relative;
	z-index:150;
	}	
.notification_icon:hover{
	background:url(images/notification.png) 0 -44px no-repeat;
	}		
.message_icon:hover .message_dropdown{
	display:block;
}

.message_dropdown{
	width:300px;
	height:400px;
	position:absolute;
	border:2px solid #000;	
	left:-160px;
	top:35px;
	z-index:100;
	display:none;
	background:#fff;
}
.notification_icon:hover .notification_dropdown{
	display:block;
	}
.notification_dropdown{
	width:300px;
	height:400px;
	position:absolute;
	border:2px solid #000;	
	left:-160px;
	top:35px;
	z-index:100;
	display:none;
	background:#fff;
	}
	
	/******dropdown******/
	 #right_dropdown_wrapper{
	float: right;
    height:22px;
	margin-top:50px;
	 }
#addconnection{
	float:left;
	border-right:1px solid #fff;
	}
a.addconnection{
	color:#fff;
	text-decoration:none;
	padding-right:6px;
	}	  
   #dropdown{
	   float:right;
	   height:20px;
	   position:relative;
	   padding-left:5px;
	   z-index:100;
	   }
a.account{
	       color:#fff;
		   text-decoration: none;
			background:url(images/arrowdropdown.png) right center no-repeat;
			cursor:pointer;
			display: block;
			padding-right:18px;
		}  
div.submenudropdown
{
top:22px;
right:-5px;
width:145px;
background: url("images/arrowtop.png") no-repeat scroll 18px 1px transparent;
padding-top:5px;
position:absolute;
}
div.submenudropdown ul{
list-style:none;
border:1px solid #ddd;
background:#fff;
border-top:1px solid #fff;
box-shadow:2px 2px 2px #000;
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
overflow:hidden;
	}
div.submenudropdown ul li{
	display:block !important;
	border:none !important;
	}	
div.submenudropdown  li a {
   color: #000;
   display: block;
   padding:6px;
   cursor: pointer;
  text-decoration:none;
}
div.submenudropdown ul li a:hover{
    background:#999;
    color: #FFFFFF;
    text-decoration: none;
}	
	
	/******dropdown******/
	 

#top_wrapper_bottom{
	height:46px;
	background:url(images/navbg_otr.jpg) repeat-x;
	padding-top:2px;
	min-width:997px;
}
#topmenu_wrapper{
	min-width:997px;
	height:46px;
	background:url(images/navbg.png) no-repeat center center;
	}	
#topmenu_wrapper_inner{
	margin:0 auto;
	width:997px;
	height:46px;
	}	
ul#top_menu{
  float:left;
 	}	
ul#top_menu li{
	list-style:none;
	float:left;
	background:url(images/li.png) left center no-repeat;
	padding-left:3px;
	position:relative;
	}	
ul#top_menu li#last{
	background:url(images/li.png) left center no-repeat;
	width:10px;
	height:47px;
	}	
ul#top_menu li a{
	display:block;
	padding:13px 17px;
	color:#fff;
	font-size:13px;
	text-decoration:none;
	}	
ul#top_menu li a:hover{
	background:url(images/hover_bg.png) no-repeat center top;
	}	
ul#top_menu li a.selected{
	background:url(images/hover_bg.png) no-repeat center top;
	}	
ul#top_menu li ul.submenu{
display:none;
position:absolute;
z-index:300;
overflow:hidden;
left:0;
background:#fff;
border:5px solid #000;
}	
ul#top_menu li ul.submenu li{
    display:block !important;
	background-image:none;
	width:100%;
	padding:0;
	white-space: nowrap;
}
ul#top_menu li ul.submenu li a{
    display: block;
    padding:5px 20px 5px 5px;
	background-image:none;
	color:#000;
  white-space: nowrap;
}
ul#top_menu li ul.submenu li a:hover{
	background:#268AC6;
	color:#fff;
	padding:5px 20px 5px 5px;
	 white-space:nowrap;
	}
ul#top_menu li:hover ul{
display:block;
}
#menu_inner_right{
	float:right;
	height:30px;
	margin-top:9px;
	}	
#search_wrapper{
	float:left;
	width:192px;
	height:27px;
	background:url(images/search.png) no-repeat right 5px #fff;
	}	
#search_wrapper input[type="text"]{
	width:150px;
	padding:5px 5px 5px 5px;
	float:left;
	border: medium none;
	color:#999;
	}	
#searchbttn{
	float:left;
	height:29px;
	width:71px;
	position:relative;
	}	
.bttnaccount{
	height:27px;
	width:71px;
	display:block;
	background:url(images/select.png) no-repeat 0 0;
	}
.bttnsubmenu{
	top:28px;
    right:0;
    width:71px;
   position:absolute;
	}	
div.bttnsubmenu ul{
list-style:none;
border:1px solid #ddd;
background:#fff;
border-top:1px solid #fff;
box-shadow:2px 2px 2px #000;
	}
div.bttnsubmenu ul li{
	display:block !important;
	border:none !important;
	}	
div.bttnsubmenu ul  li a {
   color: #000;
   display: block;
   padding:6px;
   cursor: pointer;
  text-decoration:none;
}
div.bttnsubmenu ul li a:hover{
    background:#999;
    color: #FFFFFF;
    text-decoration: none;
}		
#main_content_wrapper{
	margin:10px auto;
	width:997px;
	background:#fff;
	min-height:500px;
	padding-top:10px;
	}
#left_wrapper{
	float:left;
	width:294px;
	min-height:600px;
	}	

.clear{
	clear:both;
	}
#groups_wrapper{
	min-height:200px;
	}	
#groups_heading{
	height:26px;
	background:#dcdcdc;
	text-align:center;
	font-size:16px;
	padding-top:5px;
	text-transform:uppercase;
	}
#group_search_wrapper{
	margin-top:20px;
	height:30px;
	border:1px solid #dcdcdc;
	}	
#group_search_wrapper input[type="text"]{
	padding:6px;
	float:left;
	width:225px;
	color:#999;
	border:medium none;
	}	
#group_search_wrapper input[type="submit"]{
	width:30px;
	height:30px;
	border:none;
	background:url(images/groupbttn.png) no-repeat center center;
	text-indent:-9999px;
	float:right;
	}	
#group_tbl_wrapper{
	margin-top:20px;
	min-height:200px;
	padding-left:4px;
	}	
table.tbl_group td {
    padding: 5px;
}	
.group_box {
    height:85px;
    width: 80px;
	font-size:12px;
}	
.group_box_img{
	height:35px;
	overflow:hidden;
	text-align:center;
	}
.group_link1{
	text-decoration:none;
	color:#008eff;
	text-align:center;
	display:block;
	padding-top:6px;
	}	
.group_link2{
	text-decoration:none;
	color:#000;
	text-align:center;
	display:block;
	padding-top:3px;
	}	
	.group_link2:hover{
		color:#999;
		}
.link_wrap{
height:20px;
	}
a.groupMore{
	text-decoration:none;
	color:#008eff;
	float:right;
	margin-right:10px;
	}	
#contacts_wrapper{
	margin-top:5px;
	min-height:200px;
	}	
#contacts_heading{
	height:26px;
	background:#dcdcdc;
	text-align:center;
	font-size:16px;
	padding-top:5px;
	text-transform:uppercase;
	}	
#contacts_search_wrapper{
	margin-top:20px;
	height:30px;
	border:1px solid #dcdcdc;
	}	
#contacts_search_wrapper input[type="text"]{
	padding:6px;
	float:left;
	width:225px;
	color:#999;
	border:medium none;
	}	
#contacts_search_wrapper input[type="submit"]{
	width:30px;
	height:30px;
	border:none;
	background:url(images/groupbttn.png) no-repeat center center;
	text-indent:-9999px;
	float:right;
	}
#contacts_tbl_wrapper{
	margin-top:20px;
	min-height:200px;
	padding-left:4px;
	}		
table.tbl_contacts td {
    padding: 5px;
	}	
.contact_box {
    height:100px;
    width: 80px;
	font-size:12px;
	
}	
.contact_box_img{
	height:75px;
	overflow:hidden;
	text-align:center;
	}
.contact_link{
	text-decoration:none;
	color:#008eff;
	text-align:center;
	display:block;
	padding-top:3px;
	}	
a.contactsMore{
	text-decoration:none;
	color:#008eff;
	float:right;
	margin-right:10px;
	}
#advertisements_wrapper{
	margin-top:5px;
	min-height:200px;
	}	
#advertisements_heading{
	height:26px;
	background:#dcdcdc;
	text-align:center;
	font-size:16px;
	padding-top:5px;
	text-transform:uppercase;
	}	
#advertisement_tbl_wrapper{
	margin-top:20px;
	min-height:200px;
	padding-left:4px;
	}		
table.tbl_advertisement td {
    padding: 5px;
	}	
.advertisement_box {
    height:60px;
    width: 80px;
	font-size:12px;
}	
.advertisement_box_img{
	 height:60px;
	overflow:hidden;
	text-align:center;
	}
a.advertisementMore{
	text-decoration:none;
	color:#008eff;
	float:right;
	margin-right:10px;
}

#right_wrapper{
	float:right;
	width:690px;
	min-height:600px;
	}	
#right_top_wrapper{
	background: url("images/right_top_left.png") no-repeat  left 24px;
   min- height: 150px;
   padding:0 50px 0 10px;
	}
#right_top_wrapper_left{
	width:72px;
	height:72px;
	float:left;
	}	
#right_top_wrapper_right{
    float: right;
    min-height: 167px;
    width: 551px;
}
#top_welcome{
	color: #123754;
    font-size:20px;
    padding:3px;
	}
#top_welcome_bottom{
	color: #123754;
    font-size:17px;
    padding:16px 3px 3px;
	}		
#top_mail_wrapper{
	padding:8px 3px 3px;
	height:36px;
	}		
#mail_left{
	color: #123754;
	float:left;
	font-size:17px;
	}	
table.tbl_email td{
	}	
table.tbl_email input[type="text"]{
	padding:3px;
	width:170px;
	border:1px solid #ddd;
	}	
table.tbl_email input[type="submit"]{	
	background: url("images/buttoncontinue.jpg") no-repeat;
    border:none;
    color: #000;
    font-weight: bold;
    height: 27px;
    width: 85px;
		}	
table.tbl_email input[type="submit"]:hover{
	background: url(images/buttoncontinuehover.jpg) no-repeat;
	}	
#mail_right{
	float:left;
	height:30px;
	margin-left:5px;
	padding-top:2px;
	}	
.mail_images{
	width:30px;
	height:30px;
	float:left;
	margin-right:5px;
	}
#top_permission{
	color:#999;
	height:20px;
	padding:3px;
	}	
#right_top_bottom {
    margin:20px 0 5px 0;
}
#right_top_bottom span{
	color:#999;
	}	
#right_bottom_wrapper{
	border:1px solid #999;
	border-right:none;
	border-bottom:none;
	min-height:500px;
	}
#right_bottom_wrapper_top {
    background:#E5E5E5;
    min-height: 155px;
    padding-right: 50px;
    padding-top: 15px;
}
.thump{
	width:72px;
	height:72px;
	overflow:hidden;
	}
	
table.tbl_share td{
	padding:5px;
	}	
table.tbl_share textarea{
	width:531px;
	height:72px;
	border:1px solid #ABABAB;
	background:#fff;
	resize:vertical;
	padding:3px;
	box-shadow:0 3px 3px #ddd inset;
	}	
	#sharedropdown_wrapper{
    border: 1px solid #DEDEDE;
   color: #666666;
    height: 26px;
    width:462px;	
	float:left;
	background:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
		}	
	#sharedropdown_wrapper:hover{
		background:#EBEBEB;
	    box-shadow:0 0 5px #999;	
		}	
#sharedropdown_wrapper #share{
	float:left;
	 /*border:1px solid red;*/
	 padding-top:5px;
	 padding-left:5px;
	}
table.tbl_share  select{
	background: none;
   /* border: 1px solid #ABABAB;*/
   border:medium none;
    height: 26px;
    width:380px;	
	float:right;
	}			
table.tbl_share input[type="submit"]{
	background: url("images/sharebtt.png") no-repeat;
    border:none;
    font-weight: bold;
    height: 27px;
    width: 69px;
	float:right;
	}		
table.tbl_share input[type="submit"]:hover{
	background: url("images/sharebtthover.png") no-repeat;			
}
#allupdates_wrapper{
	min-height:200px;
	padding-right:50px;
	margin-top:10px;
	}
#allupdates_wrapper_top{
	height:30px;
	}	
#allupdates{
	float:right;
	position:relative;
	z-index:1000;
	}	
.bttnallupdate{
	height:23px;
	display:block;
	background:url(images/allupdatedropdown.png) no-repeat right 2px;
	padding:4px 20px 0 0;
	cursor:pointer;
	}
.allupdatessubmenu{
	top:28px;
    right:0;
    width:100px;
   position:absolute;
	}	
div.allupdatessubmenu ul{
list-style:none;
border:1px solid #ddd;
background:#fff;
border-top:1px solid #fff;
box-shadow:2px 2px 2px #000;
	}
div.allupdatessubmenu ul li{
	display:block !important;
	border:none !important;
	}	
div.allupdatessubmenu ul  li a {
   color: #000;
   display: block;
   padding:6px;
   cursor: pointer;
  text-decoration:none;
}
div.allupdatessubmenu ul li a:hover{
    background:#999;
    color: #FFFFFF;
    text-decoration: none;
}
#allupdates_content_wrapper{
	min-height:200px;
	}
#allupdates_left{
	width:80px;
	height:200px;
	float:left;
	padding-left:7px;
	}		
#allupdates_right{
	float:right;
	width:536px;
	min-height:200px;
	}	
#allupdates_right_top{
	height:350px;
	}	
#allupdates_right_bottom{
	height:20px;
	padding:12px 3px;
	border:1px soli red;
	color:#413e3e;
	font-size:17px;
	}	
#allupdates_right_bottom span{
	font-size:14px;
	}	
.comments_wrapper_box{
	min-height:50px;
	border-top:1px solid #999;
/*	margin-top:3px;*/
	}
.comments_wrapper_top{
	height:30px;
	padding-right:50px;
	}	
.comments_wrapper_inner{
	min-height:75px;
	}	
.comment_image{
	width:180px;
	height:140px;
	float:left;
	}	
.comment_content{
	width:346px;
	min-height:150px;
	float:right;
	}	
.comment_content h1{
    color: #1C597E;
    font-size: 18px;
    font-weight: normal;
}	
.content_text{
	padding:3px;
	color:#999;
	line-height:23px;
	}
a.bttnhide{
	float:right;
	color:#1c597e;
	display:none;
	text-decoration:none;
	padding:5px;
	cursor:pointer;
	}	

.comments_content_wrapper{
	min-height:100px;
	padding-right:50px;
	}
.comments_left{
    float: left;
    padding-left: 7px;
    width: 80px;
	}	
.comments_right{
    float: right;
    min-height: 100px;
    width: 536px;
	}	
.comments_heading	{
	padding:3px;
	margin-bottom:15px;
	}	
.name_link{
	text-decoration:none;
	color:#008EFF;
	}	
ul.comments_like_wrapper{
	height:36px;
	margin-top:18px;
	list-style:none;
	}
ul.comments_like_wrapper li{
	float:left;
		}	
	
ul.comments_like_wrapper li a{
	text-decoration:none;
	display:block;
	color:#000;
	padding:1px 7px 1px 3px;
	line-height:33px;
	font-size:12px;
	}	

a.connectbttn{
	background:url(images/connectbttn.png) no-repeat right center;
	padding-right:10px;
	}
a.like_bttn{
	background:url(images/likebttn.png) no-repeat 1px 0;
	height:25px;
	width:10px;
	padding-left:30px !important;
	}	
.comment_send_wrapper{
	background: #E5E5E5;
	height:100px;
	padding:20px 50px 20px 0px;
	}	
.comment_tbl_wrapper{
	float: right;
    min-height: 100px;
    width: 536px;
	}	
.likes_wrapper_top{
	height:20px;
	padding:5px;
	}
.comment_like{
	float:left;
	background:url(images/commentlike.png) no-repeat;
	width:20px;
	height:18px;
	}	
.likes_people_wrapper{
	float:right;
	}	
table.tbl_comments td{
	padding:3px;
	}
table.tbl_comments input[type="text"]{
	width:99%;
	box-shadow:0 0 3px #ddd inset;
	padding:3px;
	height:24px;
	border:none;
	color:#999;
	}
table.tbl_comments input[type="submit"]{
	background: url("images/button.png") no-repeat;
    border: medium none;
    color: #FFFFFF;
    height: 27px;
    width: 85px;
	float:right;
	}	
table.tbl_comments input[type="submit"]:hover{
	background: url(images/buttonhover.png) no-repeat;
	}		
#footer {
	min-width: 997px;
	background-color: #0a1802;
	height: 165px;
}
#footer_inner {
	margin: 0 auto;
    padding-top:50px;
    width: 997px;
	height:115px;
	background: url(images/footerbg.png) no-repeat;
	font-family: 'avantgarde_md_btmedium';
    
}
ul#footer_menu {
    display: table;
    margin: 0 auto;
	}
ul#footer_menu li:first-child{
	border-left:none;
	}
ul#footer_menu li {
    border-left:1px solid #ddd;
    float: left;
    list-style: none outside none;
    padding: 1px 12px;
}
ul#footer_menu li a {
    color: #fff;
    float: left;
    font-size: 12px;
    text-decoration: none;
}
ul#footer_menu li a:hover {
     color:#999;
}
#copyright {
    color: green;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#copyright a{
    color: #fff;
    text-decoration: none;
}
