<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Go global | Home</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link href="/assets/css/main_style.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/styleselect.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/assets/stylish-select.css"/>
		<script src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.stylish-select.js"></script>
		<script src="/assets/scrollpagination.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/assets/slidorion.css" />
		<script src="/assets/jquery.easing.js"></script>
		<script src="/assets/jquery.slidorion.min.js"></script>
		<link rel="stylesheet" type="text/css" media="all" href="/assets/jScrollPane.css"/>
		<script type="text/javascript" src="/assets/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/assets/jScrollPane.js"></script>
		<link rel="stylesheet" type="text/css" href="/assets/tooltip.css" />
		<script type="text/javascript" src="/assets/tooltip.js"></script>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".account").click(function() {
					var X = $(this).attr('id');
					if(X == 1) {
						$(".submenudropdown").hide();
						$(this).attr('id', '0');
					} else {
						$(".bttnsubmenu").hide();
						$(".ddChild").hide();
						$(".submenudropdown").show();
						$(this).attr('id', '1');
					}
				});
				//Mouseup textarea false
				$(".submenudropdown").mouseup(function() {
					return false
				});
				$(".account").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {
					$(".submenudropdown").hide();
					$(".account").attr('id', '');
				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".bttnaccount").click(function() {
					var X = $(this).attr('id');
					if(X == 1) {
						$(".bttnsubmenu").hide();
						$(this).attr('id', '0');
					} else {
						$(".submenudropdown").hide();
						$(".bttnsubmenu").show();
						$(this).attr('id', '1');
					}
				});
				//Mouseup textarea false
				$(".bttnsubmenu").mouseup(function() {
					return false
				});
				$(".bttnaccount").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {
					$(".bttnsubmenu").hide();
					$(".bttnaccount").attr('id', '');
				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".bttnallupdate").click(function() {
					var X = $(this).attr('id');
					if(X == 1) {
						$(".allupdatessubmenu").hide();
						$(this).attr('id', '0');
					} else {
						$(".allupdatessubmenu").show();
						$(this).attr('id', '1');
					}
				});
				//Mouseup textarea false
				$(".allupdatessubmenu").mouseup(function() {
					return false
				});
				$(".bttnallupdate").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {
					$(".allupdatessubmenu").hide();
					$(".bttnallupdate").attr('id', '');
				});
			});

		</script>
		<script type="text/javascript">
			$(function() {
				$('.comments_wrapper_box').hover(function() {
					$(this).find('.bttnhide').fadeIn();
				}, function() {
					$(this).find('.bttnhide').fadeOut();
				});

				$('.bttnhide').click(function(e) {
					if($(this).attr('rel') == 0) {
						$(this).parent().parent().find('.comments_content_main').slideUp();
						$(this).text('Show');
						$(this).attr('rel', 1);
					} else {
						$(this).parent().parent().find('.comments_content_main').slideDown();
						$(this).text('Hide');
						$(this).attr('rel', 0);
					}
				});
			});

		</script>
		<!--[if lte IE 7]>
		<style>
		ul#footer_menu{
		width:610px;
		}
		#right_dropdown_wrapper{
		min-width:170px;
		max-width:187px;
		}
		ul#top_menu li ul.submenu{
		width:170px;
		}
		ul#top_menu li ul.submenu li{
		width:100% !important;
		}
		ul#top_menu li ul.submenu li a{
		width:100% !important;
		}
		</style>
		<![endif]-->
		<script type="text/javascript">
			$(function() {
				$('#selShare').sSelect();
				$('.message_icon').hover(function() {
					$("#txtKeyword").blur();
				});
				$('.notification_icon').hover(function() {
					$("#txtKeyword").blur();
				});
			});

		</script>
		<script type="text/javascript">
			$().ready(function(e) {
				$("ul#top_menu li").hover(function() {
					$(this).find('ul:first').css({
						visibility : "visible",
						display : "none"
					}).slideDown(400);
				}, function() {
					$(this).find('ul:first').css({
						visibility : "hidden"
					});
				});
			});

		</script>
		<script>
			$(function() {
				$('#slidorion').slidorion({
					interval : 5000,
					effect : 'random'
				});
			});

		</script>
	</head>
	<body>
		<div id="top_wrapper">
			<!--top_wrapper_top-->
			<div id="top_wrapper_top">
				<!--top_wrapper_top_inner-->
				<div id="top_wrapper_top_inner">
					<div id="logo_wrapper">
						<a href="index.html">Home</a>
					</div>
					<!--right_dropdown_wrapper-->
					<div id="right_dropdown_wrapper">
						<div id="addconnection">
							<a href="#" class="addconnection">Add connection</a>
						</div>
						<div id="dropdown">
							<a class="account"><span>Scott</span></a>
							<div class="submenudropdown" style="display: none;">
								<ul class="root">
									<li>
										<a href="#Dashboard" >Settings</a>
									</li>
									<li >
										<a href="#settings">Sign out</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--right_dropdown_wrapper ends-->
					<!--message_icon_wrapper-->
					<div id="message_icon_wrapper">
						<div class="message_icon">
							<a href="#" class="count_msg">100</a>
							<div class="message_dropdown"></div>
						</div>
						<div class="notification_icon">
							<div class="notification_dropdown"></div>
						</div>
					</div>
					<!--message_icon_wrapper ends-->
				</div>
				<!--top_wrapper_top_inner ends-->
			</div>
			<!--top_wrapper_top ends-->
			<!--top_wrapper_bottom-->
			<div id="top_wrapper_bottom">
				<!--topmenu_wrapper-->
				<div id="topmenu_wrapper">
					<!--topmenu_wrapper_inner-->
					<div id="topmenu_wrapper_inner">
						<!--top_menu-->
						<ul id="top_menu">
							<li>
								<a href="index.html" class="selected">Home</a>
								<ul class="submenu">
									<li>
										<a href="#">Go global Home</a>
									</li>
									<li>
										<a href="#">Advertise on Go global</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" >Profile</a>
								<ul class="submenu">
									<li>
										<a href="#">Edit Profile</a>
									</li>
									<li>
										<a href="#">View profile</a>
									</li>
									<li>
										<a href="#">Recommendations</a>
									</li>
									<li>
										<a href="#">Profile Organizer</a>
									</li>
									<li>
										<a href="#">Following</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Contacts</a>
								<ul class="submenu">
									<li>
										<a href="#">Connections</a>
									</li>
									<li>
										<a href="#">Add Connections</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Groups</a>
								<ul class="submenu">
									<li>
										<a href="#">Your Groups</a>
									</li>
									<li>
										<a href="#">Groups You May Like</a>
									</li>
									<li>
										<a href="#">Groups Directory</a>
									</li>
									<li>
										<a href="#">Create a Group</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Jobs</a>
								<ul class="submenu">
									<li>
										<a href="#">Find Jobs</a>
									</li>
									<li>
										<a href="#">Post a Job</a>
									</li>
									<li>
										<a href="#">Manage Your Jobs</a>
									</li>
									<li>
										<a href="#">Find Talent</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Companies</a>
								<ul class="submenu">
									<li>
										<a href="#">Find Companies</a>
									</li>
									<li>
										<a href="#">Companies You Follow</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">News</a>
								<ul class="submenu">
									<li>
										<a href="#">Go global Today</a>
									</li>
									<li>
										<a href="#">Original Content</a>
									</li>
									<li>
										<a href="#">Saved Articles</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">More</a>
								<ul class="submenu">
									<li>
										<a href="#">Inbox</a>
									</li>
									<li>
										<a href="#">Invitations</a>
									</li>
									<li>
										<a href="#">Help Center</a>
									</li>
									<li>
										<a href="#">Answers</a>
									</li>
									<li>
										<a href="#">Skills & Expertise</a>
									</li>
									<li>
										<a href="#">Profile Views</a>
									</li>
								</ul>
							</li>
							<li id="last"></li>
						</ul>
						<!--top_menu ends-->
						<!--menu_inner_right-->
						<div id="menu_inner_right">
							<!--search_wrapper-->
							<div id="search_wrapper">
								<form action="" name="frmSearch" id="frmSearch" method="post">
									<input type="text" name="txtKeyword" id="txtKeyword" value="Search....." onfocus="if(this.value=='Search.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search.....';this.style.color='#999';}"/>
								</form>
							</div>
							<!--search_wrapper ends-->
							<!--searchbttn-->
							<div id="searchbttn">
								<select name="fancySelect" class="makeMeFancy">
									<!-- Notice the HTML5 data attributes -->
									<option value="0" selected="selected" data-skip="1" data-icon="/assets/Friends.png">Choose</option>
									<option value="1" data-icon="/assets/Friends.png" data-html-text="iPhone 4&lt;i&gt;in stock&lt;/i&gt;" title="sss" ></option>
									<option value="2" data-icon="/assets/jobs.png" data-html-text="iPod &lt;i&gt;in stock&lt;/i&gt;"></option>
									<option value="3" data-icon="/assets/updates.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
									<option value="3" data-icon="/assets/people.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
								</select>
							</div>
							<!--searchbttn ends-->
						</div>
						<!--menu_inner_right ends-->
					</div>
					<!--topmenu_wrapper_inner ends-->
				</div>
				<!--topmenu_wrapper ends-->
			</div>
			<!--top_wrapper_bottom ends-->
		</div>
		<%= yield %> <!--footer_wrapper-->
		<div id="footer">
			<div id="footer_inner">
				<ul id="footer_menu">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Profile</a>
					</li>
					<li>
						<a href="#">Contacts</a>
					</li>
					<li>
						<a href="#">Jobs</a>
					</li>
					<li>
						<a href="#">Companies</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="#">Help Center</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
				<div id="copyright">
					<a href="#" target="_new">Go global &copy;2013</a>
				</div>
			</div>
		</div>
		<!--footer_wrapper ends-->
		<script src="js/script.js"></script>
	</body>
</html>